<h1 align="center">Admin Login Page</h1>

<div class="form">
    <form action="rdeinAuth.php" method="post">
    
    <table align="center">
        <tr>
            <td><label for="username">Username:</label></td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" name="submit" value="Log In"></td>
        </tr>
    </table>
    </form>
    </div>
